.foodName
{
    margin-bottom: 20px;
}
.calorieCount
{
    margin-bottom: 20px;
}
.carbsCount
{
    margin-bottom: 20px;
}
.proteinCount
{
    margin-bottom: 20px;
}
.fatsCount
{
    margin-bottom: 20px;
}