.page
{
    width: 100%;
}
.header
{
    background-color: darkgray;
    padding: 20px;
    text-align: center;
    justify-content: space-between;
}
.body
{
    display: flex;
    flex-direction: row;
}
.Menu
{
    width: 50%;
    text-align: center;
    border: 10px;
    border-color: red;
}
.Display
{
    width: 50%;
    text-align: center;
}
.MenuBody
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
    padding-left: 10px;
    padding-right: 20px;
    width: 100%;
}
.updateFood
{
    padding-left: 10px;
}
.BoxStyles
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
